<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("C:/Users/sejgupta/Downloads/contact-app-master/views/partials/header") %>
</head>
<body class="container">
    <main>
        <div class="jumbotron">
            <center><p>Send OTP to contacts.</p></center>
        </div>
    </main>

    <footer>
    <center>
        <%- include ("C:/Users/sejgupta/Downloads/contact-app-master/views/partials/footer") %>
    </center>
    </footer>
    
</body>
</html>